.adtext p{
	font-family: arial;
	font-size: 17px;
	padding-top: 70px;
	padding-bottom: 60px;
}
.adtext{
	width: 40%;
	float: left;
	background-color: #ccccff;
}
.maapad{
	width: 60%;
	float: right;
	padding-top: 20px;
	background-color: #ccccff
}

