*
        {
         margin:0px;
         margin:0px;
        }
        .slider{
        margin:0px;
        height:650px;
        width:100%;
        background-color:gray;
        overflow:hidden;
        }
        .sliderchild{
        height:650px;
        width:500%;
        background-color:green;
        animation:slider infinite 20s 2s;

        /*code_optimzation*/
        /*We can also write*/
        /*animation-name:slider;*/
        /*animation-iteration-count:infinite;*/
        }
        .imgcon{
        height:650px;
        width:20%;
        background-color:gray;
        float:left;


        color:white;
        font-family:arial;
        }
        .imgcon:nth-child(1)
        {
         background-image: url('slider/mo1.jpg');
         background-repeat: no-repeat;
         background-size:cover;
        }
        .imgcon:nth-child(2)
        {
         background-image: url('slider/mo2.jpg');
         background-repeat: no-repeat;
         background-size:cover;
        }
        .imgcon:nth-child(3)
        {
         background-image: url('slider/mo3.jpg');
         background-repeat: no-repeat;
         background-size:cover;
        }
        .imgcon:nth-child(4)
        {
         background-image: url('slider/mo4.jpg');
         background-repeat: no-repeat;
         background-size:cover;
        }
        .imgcon:nth-child(5)
        {
         background-image: url('slider/mo1.jpg');
         background-repeat: no-repeat;
         background-size:cover;
        }
        @keyframes slider{
            12.5%
            {
                margin-left:-100%;
            }
            25%
            {
                margin-left:-100%;
            }
            37.5%
            {
                margin-left:-200%;
            }
            50%
            {
                margin-left:-200%;
            }
            62.5%
            {
                margin-left:-300%;
            }
            75%
            {
                margin-left:-300%;
            }
            87.5%
            {
                margin-left:-400%;
            }
            100%
            {
                margin-left:-400%;
            }
        }
        .same{
        font-family:arial;
        font-size:20px;
        padding-left:20px;
        padding-top:500px;
        color:black;
        }

        .list ul {
        list-style:none;
        display:flex;
        padding-left:20px;
        padding-bottom:5px;
        }

        .list ul li{
        padding-right:40px;
        padding-top:20px;
        padding-bottom:10px;
        font-family:arial;
        font-size:20px;
        opacity:0.9;
        }
        .list{
        background-color:#e6eeff;
        width-50%;
        float:right;
        padding-left:-20px;
        }
        .main1{
        width:50%;
        float:left;
        font-family:arial;
        font-size:35px;
        padding-top:10px;
        padding-left:20px;
        padding-bottom:10px;
        color:;
        background-color:#e6eeff;
        }
        .bgcl{
        background-color:#e6eeff;
        }
        /*downloaded my own font and place it in the same folder.
        this is ilustrated below.*/
        @font-face{
            font-family:raj;
            src:url("great_fonts.ttf");
        }
        .main2{
            text-align:center;
            font-family: raj;
            padding-bottom: 50px;
        }

        #main2{
            font-size: 80px;
            padding-top: 80px;

        }
        #welco{
            font-size:30px;
        }
        .parag{
            border-style:solid;
            border-radius: 5px;
            border-left-width :8px;
            border-top-width:0.5px;
            border-right-width:0.5px;
            border-bottom-width:0.5px;
            border-left-color: #3333ff;
            border-top-color:rgba(0, 0, 0, 0.1);
            border-bottom-color:rgba(0, 0, 0, 0.1);
            border-right-color:rgba(0, 0, 0, 0.1);
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 20px; 
        }
              
        .para1{
            font-family: arial;
            font-size: 21px;
            opacity: 0.8;
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .main22{
        	text-align:center;
            font-family:raj;
            font-size:35px;
        }
        .butt{
        	background-image: url('slider/mo1.jpg');
        	background-size:cover;
        	padding-bottom: 220px;
        	padding-top: 300px;
        	padding-right: 180px;
        	padding-left: 180px;
        	margin-left: 180px;
        	margin-top: 30px;
        	margin-bottom: 30px;
        	border-radius: 15px;
        	margin-bottom: 70px;
        	border-style: none;
        	transition: 1s;

        	
        }

        .butt:hover{
        	transform: scale(1.1);
        	box-shadow: 2px 2px 2px #000;
        	z-index: 2;
        	transition: 450ms;
        }
        .sample1{
        	float:left;
        	width:50%;
           border: none;
        }
        .sample2{
        	float:right;
        	width:50%;
		    border: none;
        }
        .sample3{
			border: none;
        	padding-left: 380px;
        }
        .more{
            padding-left: 980px;
        }
        .more p{
            font-size: 29px;
            font-family: raj;
            padding-bottom: 22px;
        }

        
        .main33 p{
           text-align:center;
           font-family: arial;
           font-size: 25px;
           padding-top: 20px;
           padding-bottom: 12px;
        }

       .name323{
        padding-left:550px;
        font-size: 16px;
        font-family: arial;
        padding-top: 10px;
       }
       
       .in344in{
        padding-left: 550px;
        padding-top: 10px;
       }
       .in344in input{
        font-size: 18px;
        font-family: arial;
        width: 400px;
        height: 40px;
        padding-left: 5px;
        border-radius: 5px;
        border-style: none;
       }
       #apce{
        padding-bottom: 30px;
       }
       #submit4{
       padding-left: 710px;
       padding-bottom: 30px;
       }
       .submit4{
        text-align: center;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-top: 10px;
        font-family: arial;
        font-size: 19px;
        border-radius: 5px;
        border-style: none;
        background-color:;
       }
       .back{
        background-image: url('slider/mo1.jpg');
        background-size:cover;     
          }
        #add21{
        	font-family:arial;
        	font-size: 32px;
        	padding-left: 77px;
        	padding-top: 32px;
        	padding-bottom: 10px;
        }  
        .adtext p{
            font-family: arial;
            font-size: 17px;
            padding-top: 70px;
            padding-bottom: 60px;
        }
        .adtext{
            width: 40%;
            float: left;
        }
        .maapad{
            width: 60%;
            float: right;
            padding-top: 20px;
            padding-bottom: 10px; 
        }
        .tag289{
            font-family: arial;
            font-size: 17px;
            padding-left: 80px;
        }
        .mesg52{
            margin-left: 80px;
            font-family: arial;
            padding-left: 5px;
            border-radius: 5px;
            width: 430px;
            height: 40px;
        }

        #wid67{
            height: 90px;
    

        }
        .submit{
           text-align: center;
           padding-left: 20px;
           padding-bottom: 10px;
           padding-right: 20px;
           padding-top: 10px;
           font-family: arial;
           font-size: 19px;
           border-radius: 5px;
           border-style: none;
           background-color:;
           margin-left: 80px;
           margin-bottom: 20px;
        }
        

