
.list{
	padding-top: 10px;
}
.list ul{
	padding-left: 100px;
}
	.but10o10{
	padding-left: 5px;
	padding-top: 10px;
	border-style: ;
	font-size: 20px;
	opacity: 0.8px;
	font-family: arial;
	background-color: transparent;
	border-style: none;

}
.list ul li{
	padding-right: 10px;
}